html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    padding:0;
    margin:0;
    list-style:none;
    border:0;
    box-sizing: border-box
  }

  body {
    overflow-x:hidden;
    font-family: 'Source Sans Pro', sans-serif;
}






header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap; 
    width: 100vw;
    height: 85px;
}

footer {
    display: flex;
    /* border-top: solid #bdbdbd 1px; */
    height: 200px;
    width: 100vw;
}



.layout
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100vw; */
    align-items: center; 
}





.title {
    /* width: 350px; */
    /* background-color:rgba(0,77,64 ,0.5); */
    /* background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px 10px 0px 0px; */
    /* margin-bottom: 10px; */
    /* height: 50px; */
    color: #004D40;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

input[type="submit"] {
    background-color: #009688;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 50px; 
    margin-bottom: 55px;
    width: 300px;
    padding: 5px;
    border-radius: 20px;
}

/* #input1{
} */


.inp{
    display: block;
    height: 40px;
    width: 300px;
    /* margin-top: 30px; */
    border-radius: 30px;
    border: 1px solid #CFD8DC ; 
    font-size: 12pt;
    padding: 10px 20px;    
    background-color: rgba(255, 255, 255, 0.01);
    color: #424242;
    outline: none;
}


/* #input_admin_mod {
    background-color: #283593;
}

#inp_date {
    padding: 0px 20px;     
    margin-top: 0px;   
} */


h1{
    /* background-color: red; */
    text-align: center;
    padding: 15px; 
    font-size: 1em;
}

h2{
  /* background-color: red; */
  text-align: center;
  padding: 10px; 
  font-size: 0.9em;
  color: #455A64;
  font-weight: bold;
}


label {
  color: #546E7A;
  margin-top: 10px;
}

#form_entry_user {
    display: none;
    flex-direction: column;
}
#new_entry_user {
    display: none;
}

a{
  color: #455A64;
  text-decoration: none;
  /* text-align: center;
  display: block; */
  font-weight: bold;
}

td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
/* 
.num {
  text-align:end;
  vertical-align: middle;
} */

table {
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  width: 100vw;
  height: 250px;
}

.title_header {
  color: #3E2723;
  font-weight: 600;
} */



/* table {
	border-collapse: collapse;
	border-spacing: 0;
} */


table {
  border-collapse: separate; 
  border-spacing: 0 8px;
  margin-top: 3px;
}

td {
  /* border: 1px solid green;
  border-left-width: 0; */
  min-width: 120px;
  height: 18px;
}

td:first-child {
  border-left-width: 1px;
}


.cabecalho {
  width: 620px;
  margin: 20px;
}

.extrato, .futuros {
  width: 620px;
  padding: 10px;
  /* border-radius: 10px 10px 10px 10px; 
  box-shadow: 5px 5px 5px #BDBDBD; */
  margin: 20px;
}


.extrato {
  color: #1A237E;
  /* background-color: #EEEEEE; */
  font-size: 1.05em;
  display: none;
}

.futuros {
  color: #90A4AE;
  background-color: #FAFAFA;
}


h3{
  /* background-color: red; */
  text-align: center;
  padding: 10px; 
  font-size: 1.2em;
  font-weight: bold;
}

.pend {
  color: #616161;
}

.neg {
  color: #BF360C;
}


.neg_future {
  color: #e57373;
}

.opcoes {
  display: flex;
  justify-content: space-between;
  width: 620px;
  margin: 20px;
}

.admin, .informar_deposito {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
  margin: 20px;
  color: #424242;
  font-weight: bold;
  margin-top: 70px;
}

/* #form_admin, #form_dep {
  width: 620px;
  background-color: #9E9E9E;
  margin-top: 10px;
} */


/* form {
    display: flex;
    flex-direction: column;
}     */


.dados_banc, .statments_area {
  display: flex;
  flex-direction: column;
  color: #455A64;
  background-color: #FAFAFA;
  width: 620px;
  border-radius: 10px 10px 10px 10px; 
  box-shadow: 5px 5px 5px #BDBDBD;
  justify-content: center;
  align-items: center;
  /* margin-top: 70px; */
  /* padding-top: 10px; */
}

.dados_banc td {
  text-align: left;
}

.dados_banc p {
  padding: 10px;
  font-size: 1em;
  text-align: center;
} 

.dados_banc table {
  width: 420px;
}


.pix {
  color: #004D40;
  /* font-weight: 550; */
}

.content {
  color: #004D40;
  font-size: 0.95em;
}

.atencao {
    color: #EF6C00;
    font-weight: bold;
}


#rodape_ext {
  display: flex;
  width: 590px;
  justify-content: space-between;
}

.a_small {
  font-size: 0.9em;
}

/* .bold {
  font-weight: 550;
} */


/* p {
    color: red;
} */

.banc_mobile {
  display: none;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.msg_p {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}







@media only screen and (max-width:620px) {
  
  .extrato, .futuros, .cabecalho, .admin, .dados_banc {
      width: 95vw;
      margin-right: 0px;
      margin-left: 0px;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
  }

  table, .opcoes, #form_admin, span, #rodape_ext, .banc {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
   
    font-size: 0.9em;
  }

    table {
        table-layout: fixed;
    }

  td{
    word-wrap:break-word;
  }

}


@media only screen and (max-width:500px) {

  .banc {
    display: none;
  }

  .banc_mobile {
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:flex-start;
  }

  .banc_mobile_itens {
    font-weight: bold;
    margin-left: 20px;
  }
  

}
