 .models 
 {
     display: none;
 }
 
 #bank_statment
{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 90%;
   
}

#form_load_bank_st, #list_load_bank_st
{
    margin-top: 50px;
}


#list_load_bank_st
{
  display: none;
  flex-direction: column;
}


.title_deposits
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#group_title_models_toRecord, #group_title_models_noRecord, #group_title_models_validables
{
  display: none;
} 

#noRecord_deposits, #toRecord_deposits, #pending_validables
{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px 10px 10px 10px; 
  box-shadow: 5px 5px 5px #BDBDBD;
  margin-top: 5px;
}

#toRecord_deposits
{
  background-color: #DCEDC8;
}

#noRecord_deposits
{
  background-color: #FFF8E1;
}

#pending_validables
{
  background-color: #ffcdd2;
}


.noRecord_deposit_item, .deposit_load_bank
{
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  margin-top: 5px ;
}

.group_title_models
{
  display: flex;
  width: 100%;
  padding: 70px 10px 0px 10px; 
  justify-content:space-between;
}

.pending_validable_item
{
  padding: 10px;
  margin-top: 40px;

}

.item_deposit, .obs_deposit, .noRecord_item_deposit, .noRecord_obs_deposit,
.title_models
{
  width: 50%;
}

.title_models
{
  text-align: center;
}

.warning
{
  color: #BF360C;
  font-size: 1.1em;
  font-weight: bold; 
}

  .deposit_load_bank p
  {
      padding: 10px;
  }

  .item_deposit
  {
      margin-left: 20px;
      margin-right: 10px;

  }

  .obs_deposit
  {
      margin-right: 20px;
      margin-left: 10px;
  }

  #title_tb_load_bank
  {
    width: 100%;
  }

  #title_tb_load_bank tr
  {
    text-align: center;
  }


  
  #tb_load_bank tr:nth-child(even) {
    background: #EEEEEE;
  } 


  #check_all_deposits 
  {
    margin-left: 41px;
  }
  
  /* #tb_load_bank td {
    font-weight: normal;
  }
  
  #tb_load_bank th{
    font-size: 1.1em;
    vertical-align: middle;
  }
   */
  



















#tb_load_bank
{
    width: 100%;
    border-radius: 10px;
    background-color:#fafafa;
    box-shadow: 5px 5px 5px #BDBDBD;
    


}

#tb_load_bank p
{
   text-align: left;
   padding: 3px;
}

/* #tb_load_bank tr
{
   
} */